*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "lato", "sans-serif";
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #904e4e;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 8px 16px rgba(228, 11, 11, 0.902);
  }
  
  .logo a {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }