*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "lato", "sans-serif";
}

body{
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
    
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.logo a {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.hide{
    display: none !important;
}
.container{
    width: 400px;
    height: 400px;
    background-color: #090909;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(238, 21, 21, 0.928);
}

/*IMC form*/
#calc-container h2{
    text-align: center;
    margin-bottom: 2rem;
}
.form-inputs{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.form-control{
    display: flex;
    flex-direction: column;
    flex:1;
    margin-bottom: 1rem;
}

.form-control label{
    font-weight: bold;
    margin-bottom: 0.6rem;
    color: #cccc;
}

.form-control input{
    padding: 1rem 0.5rem;
    border-radius: 1rem;

}

.action-control{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 1rem;
}

button{
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    background-color: #41344a;
    border: none;
    color: #fff;
    cursor: pointer;
    opacity: 0.9;
    flex: 1;
}
#limpar-btn{
    background-color: aqua;
    color: #090e22;
}

#limpar-btn:hover{
    background-color: blue;
    color: #fff;
}

button:hover{
    background: red;
}

/*talbe*/

